<ion-view view-title="Playlist">
  <ion-content><br>
      <center><h3>Welcome, to Instant Message</h3></center>
      
      <br><br><br>
    <form ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
